<% layout("/layouts/boilerplate") %>

<body>
    <div class="row">
        <div class="col-8 offset-2">
    <h3 class="detail"><%= listing.title %></h3>

    <div class="card col-6 offset-3 show-card listing-card">
          <img src="<%= listing.image.url %>" class="card-img-top show-image" alt="listing_image">
  <div class="card-body">
    <p class="card-text">
    <br>
    <%= listing.description %> <br>
    &#8377; <%= listing.price ? listing.price.toLocaleString("en-IN") : "0"%>/night <br>
    <%= listing.location %> <br>
    <%= listing.country %>
    </p>
    </div>
    </div>

    <br>

    <div class="btns">
    <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-1 offset-3 add-btn">Edit</a>
    <br>
    
    <form method="POST" action="/listings/<%= listing._id %>?_method=Delete">
        <button class="btn btn-dark offset-5">Delete</button>
    </form>
    </div>

    </div>
    </div>
<HR>
<!-- Review -->

    <div class="col-8 offset-4 mt-3">
        <h4>Leave a Review</h4>
        <form action="/listings/<%= listing.id %>/reviews" method="post" novalidate class="needs-validation">
            <div class="mb-3 mt-3">
                <label for="rating" class="form-label">Rating</label>
                <input class="form-range" type="range" min="1" max="5" id="rating" name="review[rating]" required >
            </div>
            <div class="mb-3 mt-3">
                <label for="comment" class="form-label">Comments</label>
                <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
                <br>
                <button class="btn btn-outline-dark">Submit</button>
            </div>
        </form>
        <hr>

        <!-- Comments when submit by user -->

        <p><b>All Reviews</b></p>
        <div class="row">
        <% for (let review of listing.reviews) {%>
        <div class="card col-5 ms-3 mb-3">
    <div class="card-body">
    <h5 class="card-title">Tim Cook</h5>
    <h6 class="card-text"><%= review.comment %></h6>
    <p class="card-text"><%= review.rating %><i class="fa-solid fa-star" style="color: gold;"></i></p>
  </div>
  <form class="mb-4" method="POST" action="/listings/<%=listing._id%>/reviews/<%=review.id%>?_method=Delete">
    <button class="btn btn-sm btn-dark mt-2">Delete</button>
  </form>
</div>
        <%  } %>
        </div>
</body>